@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
body {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.center-children {
  display: grid;
  place-items: center;
}

* {
  font-family: Rajdhani, monospace, Roboto, 'Courier New', Courier, monospace;
}
