@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.grid-temp-col-350 {
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

@font-face {
  font-family: 'Glacial';
  src: local('Glacial'), url(../fonts/GlacialIndifference.woff) format('woff');
}